src/.idea
.idea
.DS_Store

# remove these when done
src/*
src/dev
src/downloader
src/errors
src/includes
src/js
src/lib
src/media
src/shell
src/var

src/app/code/core
src/app/code/community
!src/app/code/community/Hackathon

src/app/design/adminhtml
src/app/design/frontend/base
src/app/design/frontend/base/layout
!src/app/design/frontend/base/layout/hackathon
src/app/design/frontend/default
src/app/design/frontend/rwd
src/app/design/frontend/install

src/app/etc/*
src/app/etc/modules
!src/app/etc/modules/Hackathon_PromoCodeMessages.xml

src/app/locale/en_US
!src/app/locale/en_US/Hackathon_PromoCodeMessages.csv

src/app/.htaccess
src/app/bootstrap.php
src/app/Mage.php
