<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./autoload.php">
    <testsuite name="Hackathon PromoCodeMessages Unit Tests">
        <directory suffix="Test.php">.</directory>
    </testsuite>
</phpunit>
